<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhujs.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zhujs.model.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
       id, name, age
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
    </select>

    <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>-->

    <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user where id = #{id,jdbcType=INTEGER}
    </delete>-->

    <!--<insert id="insert" parameterType="com.zhujs.model.User">
    insert into user (id, name) values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
   </insert>-->

    <!--<update id="updateByPrimaryKeySelective" parameterType="com.zhujs.model.User">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>-->

    <!--<update id="updateByPrimaryKey" parameterType="com.zhujs.model.User">
        update user
        set name = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
  </update>-->
    
</mapper>